:root {
  --highlight: #FF57B2;
  --heading: #F8F8F8;
  --background: #1A1D23;
  --info: #BBBBBB;
  --body: #D7D7D7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: var(--background);
  font-family: Inter, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading)
}

h2 {
  font-size: 36px;
}

p {
  color: var(--body);
  font-size: 18px;
  line-height: 1.6rem;
}

span {
  color: var(--info);
}
